@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

html {
  background-color: #F2F5EE;
}

section.hero {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
section.hero .hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
section.hero .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); /* Degradado oscuro */
  z-index: 0;
}
section.hero .hero__div--wedding-announcement {
  position: relative;
  z-index: 1;
}
section.hero .hero__div--wedding-announcement .hero__div--date {
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 18px;
  border: 1px solid white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
section.hero h1 {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
section.hero h4 {
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 8px;
  font-weight: 300;
}

header.sticky {
  background-color: rgba(148, 106, 90, 0.85); /* Fondo con 50% de opacidad */
}

header {
  background-color: #946A5A;
  border-top: 5px solid #C1AE90;
  border-bottom: 5px solid #C1AE90;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Añadir transición */
}
header .navbar {
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
header .navbar .navbar__div--left .navbar__div--left--logo {
  width: 50px;
}
header .navbar .navbar__div--right {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  letter-spacing: 2px;
}
header .navbar a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

section.story {
  display: flex;
  justify-content: center;
  padding: 20px 48px;
}
section.story .story__callout {
  background-color: #9A7A54;
  padding: 50px;
  align-items: center;
  text-align: center;
}
section.story .story__callout .story__callout--div-title {
  padding: 25px;
}
section.story .story__callout .story__callout--div-title h2 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 35px;
}
section.story .story__callout p {
  color: white;
  font-size: 19px;
  margin-bottom: 20px;
  max-width: 1200px;
}

section.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  height: auto;
}
section.count-down h2 {
  font-size: 72px;
  font-weight: bold;
  color: #9A7A54;
}
section.count-down .std-date {
  font-size: 36px;
}
section.count-down .count-down__div--clock {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  max-height: 100px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
section.count-down .count-down__div--clock .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
section.count-down .count-down__div--clock .box > :first-child {
  color: white;
  font-size: 42px;
}
section.count-down .count-down__div--clock .box.days {
  background-color: #87754A;
}
section.count-down .count-down__div--clock .box.hrs {
  background-color: #9A8854;
}
section.count-down .count-down__div--clock .box.min {
  background-color: #AB965C;
}
section.count-down .count-down__div--clock .box.seg {
  background-color: #BBA365;
}

.locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.locations__furnicular-img {
  width: 40%;
}
.locations__furnicular-img img {
  width: 100%;
  height: auto;
}
.locations__information {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.locations__information h2 {
  color: #818181;
  font-size: 36px;
}
.locations__information h6 {
  font-size: 30px;
}
.locations__information p {
  font-size: 20px;
}
.locations__information p.time {
  font-size: 18px;
}
.locations__information p.place {
  font-weight: bold;
}
.locations__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.locations__button a {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: white;
  font-size: 18px;
  color: #818181;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  max-width: 280px;
}
.locations__button--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.locations__button--logo {
  width: 24px;
  height: 24px;
}
.locations__button--text {
  display: flex;
  gap: 5px;
}

section.dressing-code {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1250px;
  justify-content: space-around;
  padding: 10px 25px;
  align-items: stretch;
  color: white;
}
section.dressing-code .dressing-code__text {
  background-color: #9A7A54;
  border: 5px solid rgb(148, 106, 90);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  padding-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
section.dressing-code .dressing-code__text h2 {
  font-size: 36px;
}
section.dressing-code .dressing-code__text p {
  font-size: 20px;
  margin-bottom: 20px;
}
section.dressing-code .dressing-code__text .genre {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
section.dressing-code .dressing-code__text .dressing-code__button {
  background-color: #946A5A;
  max-width: 150px;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  max-height: 42px;
}
section.dressing-code .dressing-code__text .dressing-code__button a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
section.dressing-code .dressing-code__img-container.man {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
}
section.dressing-code .dressing-code__img-container.woman {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
}
section.dressing-code .dressing-code__img-container img {
  border: 3px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  height: auto;
}

section.schedule svg {
  width: 90px;
  fill: rgb(148, 106, 90);
}
section.schedule .row {
  max-width: 1250px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.schedule .row .schedule__textbox--left {
  padding-right: 45px;
  text-align: end;
  width: 100%;
}
section.schedule .row .schedule__textbox--left h3 {
  color: #9A7A54;
  font-size: 35px;
  font-weight: bold;
}
section.schedule .row .schedule__textbox--left span {
  color: #C1AE90;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
section.schedule .row .schedule__textbox--left p {
  color: #818181;
  font-size: 25px;
  margin-bottom: 15px;
}
section.schedule .row .schedule__textbox--right {
  text-align: start;
  padding-left: 45px;
  width: 100%;
}
section.schedule .row .schedule__textbox--right h3 {
  color: #9A7A54;
  font-size: 35px;
  font-weight: bold;
}
section.schedule .row .schedule__textbox--right span {
  color: #C1AE90;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
section.schedule .row .schedule__textbox--right p {
  color: #818181;
  font-size: 25px;
  margin-bottom: 15px;
}

.carrete-container {
  width: 100%;
  overflow: hidden; /* Oculta el scroll */
  white-space: nowrap;
  position: relative;
}

.carrete {
  display: flex;
  animation: scroll 15s linear infinite; /* Movimiento continuo */
}

.carrete img {
  height: 500px;
  width: auto;
  flex-shrink: 0;
}

/* Animación para mover el carrusel */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
footer {
  background-color: #946A5A;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer h1 {
  font-size: 36px;
}
footer img {
  margin-top: 70px;
  width: 50px;
}/*# sourceMappingURL=style.css.map */